SMTP Client:          #see readme.md for info on SMTP client setup
  address : clnotifier1278@gmail.com
  password : Ha$HloCk1278

App Settings:
  rosetta path : etc/rosetta.yaml
  log results: True
  results path : results/results.yaml
  verbose: False

Search Parameters:
  run: True           #does nothing rn
  openbrowser: True   #opens new listings in chrome
  notifyemail: True   #sends email from SMTP client to email recipients (only if SMTP server is set up)
  email:
    - sam.reiter8@gmail.com
    - sam.reiter88@gmail.com
  cities:             #cities should be lower case in this version - see rosetta.yaml
    - jacksonville
  states:             #states should be upper case in this version - see rosetta.yaml
    - Kansas
    - Texas
  searchURLs:         #make sure these searches have a min price set (even if it's 0) - listings with no price set will cause a runtime error at the moment.
    - https://dallas.craigslist.org/d/cars-trucks/search/cta?max_price=25000&min_price=1000&query=miata%20club%202016%7C2017%7C2018%7C2019%7C2020%7C2021&sort=date
    - https://dallas.craigslist.org/d/cars-trucks-by-owner/search/cto?min_price=0&query=s2000%7Cs2k%202000%7C2001%7C2002%7C2003%7C2004%7C2005%7C2006%7C2007%7C2008&sort=date